@page

<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">MEET OUR STORE</h3>

            <h5 style="color:black">
                <b>Purchase computers inexpensively at</b>  <b>Computer Store</b>
            </h5>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
                <b>Computer Store</b> - Computer Inexpensive purchases have never been so easy, appliances, ordering of entertainment electronics and telecommunications has never been easier than in the online shop at <b>Computer Store</b>. Helpful tools such as product filters and purchase advice support you in your search for the article you want and turn your purchase into convenient shopping
            </p>

            <h5 style="color:black"> <b>Online shop for electronics with optimum selection and service</b></h5>
            <p>
                Since 1999,  <b>Computer Store</b> has developed from a computer dispatch company into an online specialist for technology and electronics with the promise that our company lives by: "Best selection, best service". Over 100,000 articles from the fields of electronics and technology are offered by  <b>Computer Store</b> in the online shop. In addition to the large selection,  <b>Computer Store</b> provides a comprehensive payment service with a multitude of payment options e.g. PayPal, credit card and financing (purchase by instalments, payment by instalments).
            </p>

            <h5 style="color:black" ">
                <b>The customer-friendly online shop test winner  </b>
            </h5>
            <p>
                In the online shop of  <b>Computer Store</b>, the focus is always on the customer. All services are especially tailored to customer requirements. Whether laptops, tablets, mobile phones, monitors, digital camera, hard drive, tvs, washing machines, fridges or video games - for all questions concerning the offers or your order with  <b>Computer Store</b>, the personal customer service is at hand via telephone or e-mail. This customer friendliness has been praised by Stiftung Warentest, and <b>Computer Store</b> and it became the test winner among online shops.
            </p>

            <br />
            <hr />
            <br />

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="title col-12 col-lg-8">
                            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
                                CONTACT US
                            </h2>

                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="media-container-column col-lg-8" data-form-type="formoid">
                            <div data-form-alert="" hidden="">
                                Thanks for filling out the form!
                            </div>

                            <EditForm class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
                                <input type="hidden" data-form-email="true" value="R46ImfT8lRYLhZq6vpVE63L0V35bOdmwHjgn18Tp/HdDujD3JfWe/8bm7YjE2vjZZ7JFQMRNRIinYQUh3aNa2qi1GshxArFhHAffNuiFsZiNLfMCF8KElmS7V7lbqBIL">
                                <div class="row row-sm-offset">
                                    <div class="col-md-4 multi-horizontal" data-for="name">
                                        <div class="form-group">
                                            <label class="form-control-label mbr-fonts-style display-7" for="name-form1-4">Name</label>
                                            <input type="text" class="form-control" name="name" data-form-field="Name" required="" id="name-form1-4">
                                        </div>
                                    </div>
                                    <div class="col-md-4 multi-horizontal" data-for="email">
                                        <div class="form-group">
                                            <label class="form-control-label mbr-fonts-style display-7" for="email-form1-4">Email</label>
                                            <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-form1-4">
                                        </div>
                                    </div>
                                    <div class="col-md-4 multi-horizontal" data-for="phone">
                                        <div class="form-group">
                                            <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-4">Phone</label>
                                            <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="phone-form1-4">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" data-for="message">
                                    <label class="form-control-label mbr-fonts-style display-7" for="message-form1-4">Message</label>
                                    <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-4"></textarea>
                                </div>

                                <span class="input-group-btn"><button href="" type="submit" 
                                                                      class="btn btn-md btn-outline-info display-4">SEND FORM</button></span>
                            </EditForm>
                        </div>
                    </div>
                </div>

           
        </div>
    </div>
</div>

<section class="header1 cid-qyvcqB36eR" id="header1-0" data-rv-view="761">





    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">




            </div>
        </div>
    </div>

</section>