@page

@{
    Layout = "_Layout";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>



    <h3 class="bg-info text-white text-center p-1">Details</h3>
    <table class="table table-sm table-bordered table-striped">
        <tbody>
            <tr><th>ID</th><td></td></tr>
            <tr><th>Name</th><td></td></tr>
            <tr>
                <th>Description</th>
                <td></td>
                <th></th>
                <td></td>
            </tr>
            <tr><th>Category</th><td</td></tr>
            <tr><th>Price</th><td</td></tr>
        </tbody>
    </table>

</body>
</html>

