@model Product



    <form id="@Model.ProductId" asp-page="/Cart" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl"
               value="@ViewContext.HttpContext.Request.PathAndQuery()" />

            <button type="submit"
                    class="btn btn-success p-2 m-2 rounded-top border border-dark">
                Buy
            </button>


    </form>

