@page "/admin"
@model WebComputerStore.Pages.Admin.IndexModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComputerStore Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

</head>
<body>

    <component type="typeof(Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
    <!--Give JS code through Blazor Server-->
</body>

</html>